.job-content {
    width: 400px;
    margin-right: 114px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 5px 5px 5px 5px;
}

.required-experience {
    display: inline-flex;
    margin-left: 20px;
}

.headline {
    margin-bottom: 10px;
}

.location {
    display: inline-flex;
}

.footer {
    margin-left: 300px;
}

p {
    word-break: break-all;
}

